
body {
  background: rgb(243, 71, 40);
 }
 
 .heading{
   text-align: center;
   color: white;
 }
 .header{
   background-color: #fff;
 }
 .hero{
   background-color: #fff;
   text-align: center;
   list-style: none;
 }
 .center{
   color: #d75c5c;
   text-decoration: none;
   list-style: none;
   line-height: 30px;
 }
 .container {
   background-color: #e52424;
   color: #fff;
   text-align: center;
   padding: 20px;
   
 }
 .container span {
   color:#000;
   font-size: 14px;
 }